<%= turbo_stream_from "articles" %>

<div class="w-full max-w-2xl mx-auto">
  <h1 class="text-3xl font-bold mb-4">Articles</h1>
  <div id="articles" class="space-y-6">
    <%= render @articles %>
  </div>
</div>
