<%= turbo_stream.remove "web_search_button" %>

<%= turbo_stream.after "query" do %>
  <%= turbo_stream_from "articles" %>
  <%= turbo_stream_from "web_search_#{@web_search.id}" %>

  <h2 id="from-the-web" class="text-2xl font-semibold pt-6 pb-2">From the web</h2>

  <div id="web_search_loading">
    <div class="animate-pulse space-y-3">
      <div class="h-5 bg-gray-200 rounded w-2/3"></div>
      <div class="h-4 bg-gray-100 rounded w-full"></div>
    </div>
    <p class="text-sm text-gray-400 mt-2">Searching the web...</p>
  </div>
<% end %>
