<button type="button"
        data-expandable-list-target="toggle"
        data-action="expandable-list#toggle"
        class="block w-full text-right text-sm text-blue-500 hover:text-blue-600 cursor-pointer"
        hidden>
</button>
