<%# locals: (label: "Show {count} more") %>

<button type="button"
        data-expandable-list-target="toggle"
        data-action="expandable-list#toggle"
        class="block w-full text-right text-sm text-link cursor-pointer"
        hidden>
  <%= label %>
</button>
