<%# locals: (message:, id: nil) %>

<%= content_tag :div, id: id do %>
  <div class="animate-pulse space-y-3">
    <div class="h-5 surface-hover rounded w-2/3"></div>
    <div class="h-4 surface-alt rounded w-full"></div>
  </div>
  <p class="text-sm text-faint mt-2"><%= message %></p>
<% end %>
