<%= content_tag :div, id: id do %>
  <div class="animate-pulse space-y-3">
    <div class="h-5 bg-gray-200 rounded w-2/3"></div>
    <div class="h-4 bg-gray-100 rounded w-full"></div>
  </div>
  <p class="text-sm text-gray-400 mt-2"><%= message %></p>
<% end %>
