<h2 id="<%= local_assigns[:id] %>" class="text-2xl font-semibold pt-6">
  <% if local_assigns[:href] %>
    <%= link_to title, href, class: "hover:text-blue-600" %>
  <% else %>
    <%= title %>
  <% end %>
</h2>
