<h2 id="<%= local_assigns[:id] %>" class="text-2xl font-semibold text-heading pt-6">
  <% if local_assigns[:href] %>
    <%= link_to title, href, class: "text-link" %>
  <% else %>
    <%= title %>
  <% end %>
</h2>
