<%= turbo_frame_tag "autocomplete-results" do %>
  <% if @results&.any? %>
    <ul class="absolute top-full left-0 right-0 mt-1 surface border border-strong rounded-lg shadow-lg overflow-hidden z-50">
      <% @results.each do |result| %>
        <li>
          <%= link_to polymorphic_path(result), class: "block px-2 py-2 hover:bg-gray-100 dark:hover:bg-gray-700", data: { turbo_frame: "_top" } do %>
            <div class="flex items-center gap-2 text-heading leading-tight">
              <%= image_tag "#{icon_name_for(result)}.png", class: "w-5 h-5", alt: "" %>
              <span><%= result.title %></span>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>
